<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bicycleAdmin">
            <h2><span jhiTranslate="demo3App.bicycleAdmin.detail.title">Bicycle Admin</span> {{bicycleAdmin.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="demo3App.bicycleAdmin.username">Username</span></dt>
                <dd>
                    <span>{{bicycleAdmin.username}}</span>
                </dd>
                <dt><span jhiTranslate="demo3App.bicycleAdmin.password">Password</span></dt>
                <dd>
                    <span>{{bicycleAdmin.password}}</span>
                </dd>
                <dt><span jhiTranslate="demo3App.bicycleAdmin.phonenumber">Phonenumber</span></dt>
                <dd>
                    <span>{{bicycleAdmin.phonenumber}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bicycle-admin', bicycleAdmin.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
