<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-electric-bicycle-heading" jhiTranslate="demo3App.electricBicycle.home.createOrEditLabel">Create or edit a Electric Bicycle</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!electricBicycle.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="electricBicycle.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="demo3App.electricBicycle.bicycleID" for="field_bicycleID">Bicycle ID</label>
                    <input type="text" class="form-control" name="bicycleID" id="field_bicycleID"
                        [(ngModel)]="electricBicycle.bicycleID" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="demo3App.electricBicycle.bicycleModel" for="field_bicycleModel">Bicycle Model</label>
                    <input type="text" class="form-control" name="bicycleModel" id="field_bicycleModel"
                        [(ngModel)]="electricBicycle.bicycleModel" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="demo3App.electricBicycle.bicycleInfo" for="field_bicycleInfo">Bicycle Info</label>
                    <input type="text" class="form-control" name="bicycleInfo" id="field_bicycleInfo"
                        [(ngModel)]="electricBicycle.bicycleInfo" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
